
<p >home works!</p>
<div class="d-flex p-2"style="margin-left: 10em;margin-right: 10em;">
  <table class="table table-striped table-sm w-50 p-3" >
    <thead ><th class="w-25 p-3">Playlist</th><th class ="w-75 p-3">Links for POC</th></thead>
    <tbody >
      <tr>
        <td>
          P1
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          P2
        </td>
        <td>

            <a href="">single component</a>

            <a href="inline">inline template</a>

        </td>
      </tr>
      <tr>
        <td>
          P3
        </td>
        <td>
          <a href="dec&boot">Component decorator and bootstraping</a>
      <a href="inline">externals js</a>
      <a href="shared">Shared Module</a>
        </td>
      </tr>
      <tr>
        <td>
          P4
        </td>
        <td>
          <a href = "directive">NgIF</a>
          <a href = "get">NGFor</a>
          <a href = "get">Pagination</a>
          <a href="pipes">Pipes</a>
          <a href="filter/filter">filter & sort</a>
        </td>
      </tr>
      <tr>
        <td>
          P5
        </td>
        <td>
          <a href="passdata">passing data between child and parent</a>
        </td>
      </tr>
      <tr>
        <td>
          P6
        </td>
        <td>
          <a href="get">Observables</a>
        </td>
      </tr>
      <tr>
        <td>
          P7
        </td>
        <td>
          <a href="forms/twowaybind">Two Way Binding</a>
          <a href="forms/forms">Post Request</a>
          <a href="forms/delete">Delete Request</a>
          <a href="forms/caching">shareReplay</a>
          <a href="forms/dotnet">Dotnet API post</a>
        </td>
      </tr>
      <tr>
        <td>P8</td>
        <td>Refer above links for routing params examples <br><a href="guard">Guard</a></td>
      </tr>
      <tr>
        <td>P9</td>
        <td>
          <a href="guard">Using Provided In root</a>
          Check guard and lazy routes for other two ways of DI
        </td>
      </tr>
      <tr>
        <td>P10</td>
        <td>
          <a href="lazy">Lazy Loading</a>
          <a href="testing">Testing</a>
          Deployment Using NGINX
        </td>
      </tr>
      <tr>
        <td>P11</td>
        <td><a href="updates">11,12,13 Updates</a></td>

      </tr>

    </tbody>


</table>
</div>

