p {
  text-align: center;
  color : crimson;
}
button {
  border: 1em black solid;
}
a {
  display: block;
}

table, th, td {
  border: 1px solid black;
  margin: inherit;
  text-align: center;

}

tr td:last-child {
  width: 1%;
  white-space: nowrap;
}

table {
  table-layout: fixed;
}


